[submodule "Gart/vendor/spdlog"]
	path = Gart/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gart/vendor/GLFW"]
	path = Gart/vendor/GLFW
	url = https://github.com/Kartikkain/glfw.git
[submodule "Gart/vendor/imgui"]
	path = Gart/vendor/imgui
	url = https://github.com/Kartikkain/imgui.git
